<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
<link rel="shortcut icon" href="{% static "img/favicon-32x32.png" %}"/>
<meta name="theme-color" content="#ffffff">

  <title>{% block title %}Erzsebet Kodachrome{% endblock %}</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static "main.css" %}" />
  <link rel="stylesheet" href="{% static "base.css" %}" />
  <link rel="stylesheet" href="{% static "media.css" %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block extra_css %}{% endblock %}


</head>
<!-- NAVBAR
================================================== -->

<body class='parrallax'>
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">Erzsbet Kodachrome</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class='pull-right'>
              <ul class="nav navbar-nav">
                <li class="{% if request.path == "/" %}active{% endif %}"><a href="/">Home</a></li>
                {% block navbuttons %}
                <!-- <li class="{% if request.path == "/about" %}active{% endif %}"><a href="/about">About</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <li><a href="#" target='_blank'>Email</a></li>
                    <li><a href="#" target='_blank'>Facebook</a></li>
                    <li><a href="#" target='_blank'>Linked in</a></li>
                    <li><a href="#" target='_blank'>Instagram</a></li>
                    <li><a href="#" target='_blank'>Flickr</a></li>
                  </ul>
                </li>
                {% endblock %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Booking<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Prices</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Upcoming Events</a></li>

                  </ul>
                </li>
                <li class="{% if request.path == "/p" %}active{% endif %}"><a href="http://jordanbenner.photoshelter.com/index" target ="_blank">Store</a></li>
                <!--  links to portfolio view<a href="/p">Store</a> -->

                <!-- dropdown menue for user account -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Calander</a></li>

                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
      </nav>

      </div>
    </div>

    {% block content %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <div class="container">
            <!-- <img class='amanda2' src='img/amanda2.jpeg'> -->
            <div class="carousel-caption">
              <h1 class='slide-1'>Example headline.</h1>
              <p class='text-muted'>Load in Python3 -m http.server 8000/Erzsebet.html</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a Photoshoot Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1 class='slide-2'>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1 class='slide-3'>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row2 row">
        <div class="col-lg-4 col-sm-12">
          <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol1')" role="button">Read More &raquo;</a>
          </div>
          <img class="taylor" src="{% static "img/taylorheader.jpg" %}" alt="Generic placeholder image">
          <h2>Taylor</h2>
          <p id="mcol1">As I write this, it brings up a lot of memories of who I am and where it all started. This also makes me realize, if you have a dream, don't stop pursuing it!
            You don't stop pursuing what you're doing until you've reached your definition of success. I started modeling in high school, since I live in a small-big town I used the only resource that I knew, Facebook.
            I looked high and low to find local photographers and model gigs. After getting into modeling I found out more about myself, and my passion, art. Modeling to me was so much more than being the next best “it” girl.
            I fell in love with creating an emotion in such a simple, or dramatic way. You become everyone's personal vision without even realizing it, or knowing. Today the modeling industry is changing, and may that be for the better!
            I believe modeling is just like art, you (model) are the canvas and the painters (stylist) create an image of all the supplies (fashion designers) given to them. Thought modeling I have learned to take things as they came,
            don't pass up anything that doesn't suit the direction of which you're going. At the end of the day being in fashion has shown me what I'm supposed to do in this thing we call, life. I'm now pursuing a degree in business, and fashion design.
            I have set up and opened a Boutique in San Marcos, TX, walked in a couple fashions ( even though I 5’5!!), and met so many amazing people. One day I would like to open my own clothing line but on a small scale,
            I believe having a secret clothing line for the people that really try to discover fashion designers deserve it all.<br /> Much love, and passion!<br /> -Taylor M. Barrier
          </p>
        </div>

        <!-- /.col-lg-4 -->
        <div class="col-lg-4 col-sm-12">
          <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol2')" >Read More &raquo;</a>
          </div>
          <img class="filler" src="{% static "img/filler.jpg" %}" alt="Generic placeholder image">
          <h2>Mia</h2>
          <p id='mcol2'>Mia Isabella is a print and runway model, actress, singer, entrepreneur, and author. Mia has been modeling for three years and is signed with Nelson Fashion Group,
            in San Antonio, Texas. She has walked in multiple fashion shows in South Texas, and has appeared in commercials, print advertisements, and recently wrapped her first documentary film.
            She has been published numerous times and was named Model of the Month by SA Monthly Magazine in October 2016. Last year she was awarded a scholarship to the New York Film Academy.
            Mia often works as a hostess for networking and marketing events, and at high-profile private functions.  Mia’s fashion articles have appeared in Texas magazines, and she plans to release her first book later this year.
            When Mia is not working, she enjoys traveling and expressing her artistic side through painting and drawing. Agent:  Lari Nelson, Nelson Fashion Group
          </p>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol3')" role="button" id='click'>Read More &raquo;</a>
          </div>
          <img class="filler2" src="{% static "img/filler2.jpg" %}" alt="Generic placeholder image">
          <h2>Amanda</h2>
          <p id="mcol3">Amanda Lightfoot is a Texas based model who loves fantasy and cosplay theme shoots. She's been modeling since 2012 and always enjoys collaborating on new concepts.
            She is also enjoys making costumes and is a professional makeup artist.
          </p>
        </div>
        </div>

      </div>
      <!-- /.row -->


      <!-- START THE FEATURETTES -->

      <div class="row5 row extrapad" >
        <div class="col-md-7 ">
          <h2 class="featurette-heading">First featurette heading. <span class="text-primary">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "img/taylor2.jpg" %}" alt="Fashon Model image" style="border-radius: 15px">
        </div>
      </div>
      <div class="row6 row extrapad">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-primary">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static "img/mia.jpg" %}" alt="Fashon Model image" style='border-radius: 15px'>
        </div>
      </div>
      <div class="row7 row extrapad">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-primary">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "img/taylor.jpg" %}" alt="Fashon Model image" style='border-radius: 15px'>
        </div>
      </div>
      <!-- /END THE FEATURETTES -->
      {% endblock %}


      <!-- FOOTER -->
      <footer>
        <div class="socials-bottom">
                <span class="socials-label-bottom"></span>

                <ul>
                  <li>
                    <a href="#" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-facebook fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-twitter fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-github fa-3x"></i>
                    </a>
                  </li>
                </ul>
              </div>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p class='legal'>&copy; Jordan-Benner &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='{% static "base.js" %}'></script>


</body>
<!-- Call server html using python

Python3 -m http.server 8000
</html>
