<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "img/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon-16x16.png" %}">
<link rel="shortcut icon" href="{% static "img/favicon-32x32.png" %}"/>
<meta name="theme-color" content="#ffffff">

  <title>{% block title %}Erzsebet Kodachrome{% endblock %}</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="{% static "main.css" %}" />
  <link rel="stylesheet" href="{% static "base.css" %}" />
  <link rel="stylesheet" href="{% static "media.css" %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block extra_css %}{% endblock %}


</head>
<!-- NAVBAR
================================================== -->

<body class='parrallax'>
  <div class="">
    <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">Erzsbet Kodachrome</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class='pull-right'>
              <ul class="nav navbar-nav">
                <li class="{% if request.path == "/" %}active{% endif %}"><a href="/">Home</a></li>
                {% block navbuttons %}
                <!-- <li class="{% if request.path == "/about" %}active{% endif %}"><a href="/about">About</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.google.com/recaptcha/mailhide/d?k=01H7xNPb5kNex7R2hC2dhldA==&amp;c=i-cdN7OFNZBnQbJVhl97LcRUJPFoBMbZt0pcpWfFRt4="
                      onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01H7xNPb5kNex7R2hC2dhldA\x3d\x3d\x26c\x3di-cdN7OFNZBnQbJVhl97LcRUJPFoBMbZt0pcpWfFRt4\x3d', '',
                      'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
                      title="Reveal this e-mail address">Email</a></li>
                    <li><a href="https://www.facebook.com/erzsebetkodachrome" target='_blank'>Facebook</a></li>
                    <li><a href="https://www.linkedin.com/in/kamarieclark" target='_blank'>Linked in</a></li>
                    <li><a href="https://twitter.com/ErzsebetKoda" target='_blank'>Twitter</a></li>
                    <li><a href="https://www.instagram.com/erzsebetkodachromephotography/" target='_blank'>Instagram</a></li>
                    <li><a href="https://aranyana.tumblr.com/" target='_blank'>Tumblr</a></li>
                    <li><a href="https://www.pinterest.com/?show_error=true" target='_blank'>Pintrest</a></li>
                  </ul>
                </li>
                {% endblock %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Booking<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#" target='_blank'>Pricing</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Upcoming Events</a></li>

                  </ul>
                </li>
                <li class="{% if request.path == "/p" %}active{% endif %}"><a href="http://jordanbenner.photoshelter.com/archive" target ="_blank">Store</a></li>
                <!--  links to portfolio view<a href="/p">Store</a> -->

                <!-- dropdown menue for user account -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Calander</a></li>

                  </ul>
                </li> -->
              </ul>
            </div>
          </div>
      </nav>

      </div>
    </div>

    {% block content %}
    <!-- Carousel
    ================================================== -->
    <div class="limiter">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <div class="container">
            <!-- <img class='amanda2' src='img/amanda2.jpeg'> -->
            <div class="carousel-caption">
              <h1 class='slide-1'>Example headline.</h1>
              <p class='text-muted'>Load in Python3 -m http.server 8000/Erzsebet.html</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a Photoshoot Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1 class='slide-2'>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <div class="carousel-caption">
              <h1 class='slide-3'>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <!-- <img class='amanda2' src='img/amanda2.jpeg'> -->
            <div class="carousel-caption">
              <h1 class='slide-4'>Example headline.</h1>
              <p class='text-muted'>Load in Python3 -m http.server 8000/Erzsebet.html</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a Photoshoot Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <!-- <img class='amanda2' src='img/amanda2.jpeg'> -->
            <div class="carousel-caption">
              <h1 class='slide-5'>Example headline.</h1>
              <p class='text-muted'>Load in Python3 -m http.server 8000/Erzsebet.html</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a Photoshoot Today</a></p>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="container">
            <!-- <img class='amanda2' src='img/amanda2.jpeg'> -->
            <div class="carousel-caption">
              <h1 class='slide-6'>Example headline.</h1>
              <p class='text-muted'>Load in Python3 -m http.server 8000/Erzsebet.html</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Book a Photoshoot Today</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row2 row">
        <div class="col-lg-6 col-sm-12">
          <!-- <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol1')" role="button">Read More &raquo;</a>
          </div> -->
          <h2>Behind the Camera</h2>
          <p id="mcol1">
            Erzsebet Kodachrome functions as a non-contracted agency that focuses on mentoring and directing established, as well as up and coming models throughout the Houston, Austin, Dallas, San Antonio and surrounding markets.
            I work hands on with models to train them on posing, walking runway, and conducting proper etiquette while at a photoshoot or runway show. The most foundational part of my company is being able to mentor models in the belief
            that you don’t have to remove clothing to become a desired asset, and that by not doing so they will have a much better chance being signed with a larger Agency. This will allow them to take their career in the professional
            direction that they want to go.
          </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-6 col-sm-12">
          <img class="filler" src="{% static "img/auth.jpg" %}" alt="Generic placeholder image">
          <!-- <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol2')" >Read More &raquo;</a>
          </div> -->
        </div>
        <!-- <div class="col-lg-4 col-sm-12">
          <div class='read-button'>
            <a class="btn btn-default" href="javascript: void(0);" onclick="show_p(this, 'mcol3')" role="button" id='click'>Read More &raquo;</a>
          </div>
          <img class="filler2" src="{% static "img/filler2.jpg" %}" alt="Generic placeholder image">
        </div> -->
        </div>
      </div>
      <!-- /.row -->


      <!-- START THE FEATURETTES -->

      <div class="row5 row extrapad" >
        <div class="col-md-7 ">
          <h2 class="featurette-heading">First featurette heading. <span class="text-primary">It'll blow your mind.</span></h2>
          <p class="lead">Taylor M. Barrier is not only a talented and dynamic Texas based Model, but also an amazing Designer as well. She hopes to further her Design
            career and release some of her lines in the near future ,and is pursuing a degree in Business and Fashion Design. Using the only resources she had living in
            a more rural area, she has networked and connected with amazing photographers and Designers who have helped mentor and develop her in her pursuit of Fashion.
            One of her greatest beliefs is to never stop pursuing your passions until you have reached your definition of success.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "img/taylor2.jpg" %}" alt="Fashon Model image" style="border-radius: 15px">
        </div>
      </div>
      <div class="row6 row extrapad">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-primary">See for yourself.</span></h2>
          <p class="lead">Mia Isabella has been a Print and Runway Model for three years now and is signed with the Nelson Fashion Group Agency. She has walked many
            Runway shows throughout Texas and has been featured in Commercials, Print Advertisements, and numerous Magazine Publications. When she is not working she
            enjoys traveling and expressing her passion for art with Writing, Painting, and Drawing. In 2016 she was awarded a Scholarship to the New York Film Academy
            and plans on pursing her passion for acting as well as continuing in her Modeling career.
          </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static "img/mia.jpg" %}" alt="Fashon Model image" style='border-radius: 15px'>
        </div>
      </div>
      <div class="row7 row extrapad">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-primary">Checkmate.</span></h2>
          <p class="lead">Amanda Lightfoot has been a Texas based model since 2012. She loves Fantasy and Cosplay concepts, as well as collaborating with
            like minded Photographers and Designers on many others as well. She does design work on her own costumes and is also a Professional Makeup Artist.
            Her effortless and natural beauty allow her to incorporate many different styles, time periods, and characters into her work. From a soft and sweet
            Ariel to a Fiery and Fierce Poison Ivy, she exudes her confidence and grace to become a coveted model in the Texas markets.
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{% static "img/amandac3.jpg" %}" alt="Fashon Model image" style='border-radius: 15px'>
        </div>
      </div>
      <div class="row2 row">
        <div class="col-lg-12 col-sm-12">
          <div class="col-lg-6 col-sm-12">
            <img class="filler" src="{% static "img/kamheadshot.jpg" %}" alt="Generic placeholder image">

          </div>
          <h2 class='shooting'>Shooting Style</h2>
          <p id="mcol1">
            My shooting style is different than most in the sense of manipulating ambient light without the use of any built-in or external flash or strobes. I prefer naturally filtering my light through my lens to keep my work as natural and organic as possible and
            focus on soft surface editing techniques that enhance the picture not alter it or deflect from what has already been captured with over editing and airbrushing. I also specialize in shooting in a monochrome format that I use to exude the natural emotion of the subject.
          </p>
        </div>



        </div>
      <!-- /END THE FEATURETTES -->
      {% endblock %}


      <!-- FOOTER -->
      <footer>
        <div class="socials-bottom">
                <span class="socials-label-bottom"></span>

                <ul>
                  <li>
                    <a href="https://www.linkedin.com/in/kamarieclark" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-linkedin fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.facebook.com/erzsebetkodachrome" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-facebook fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://twitter.com/ErzsebetKoda" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-twitter fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://aranyana.tumblr.com/" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-tumblr fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.instagram.com/erzsebetkodachromephotography/" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-instagram fa-3x"></i>
                    </a>
                  </li>

                  <li>
                    <a href="https://www.pinterest.com/?show_error=true" class="link-public" target="_blank" rel="nofollow">
                      <i class="fa fa-pinterest-p fa-3x"></i>
                    </a>
                  </li>

                </ul>
              </div>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p class='legal'>&copy; Jordan Benner &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src='{% static "base.js" %}'></script>

  </div>
</body>
<!-- Call server html using python

Python3 -m http.server 8000
</html>
