<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />

  <title>Erzsbet | Krodochrome</title>
  <meta name="description" content="Profesional photoghrapy services">


  <link rel="apple-touch-icon" sizes="180x180" href="{% static " img/apple-touch-icon.png " %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static " img/favicon-32x32.png " %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static " img/favicon-16x16.png " %}">
  <link rel="shortcut icon" href="{% static " img/favicon-32x32.png " %}"/>
  <meta name="application-name" content="High-end Coding Services | htmlBoutique" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />

  <link rel="stylesheet" href="/css/style.min.css" type="text/css" media="all" />

  <!--[if IE 9]>
	<link rel="stylesheet" href="/css/ie9.css" />
	<![endif]-->

  <meta property="og:title" content="High-end Coding Services by htmlBoutique" />
  <meta property="og:description" content="htmlBoutique is a web development agency, focused on long-term partnerships, and specialized in tailor-made Front-end development, WordPress development and Email development." />
  <meta property="og:image" content="https://htmlboutique.com/css/images/temp/opengraph.jpg" />
  <meta property="og:url" content="https://htmlboutique.com/" />

</head>
{% %}

<body class="page-home">




  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KNT4MQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script type='text/javascript'>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KNT4MQ');
  </script>
  <!-- End Google Tag Manager -->

  <div class="wrapper">
    <div class="container" tabindex="0">
      <header class="header">
        <div class="shell">
          <a title="Portfolio" href="/" class="logo">Erzsbet Kodachrome</a>

          <div class="header-actions">
            <a title="Request Pricing" href="/request-pricing" class="btn btn-default btn-default-alt btn-default-lg">Get a Quote</a>

            <a title="Navigation" href="#" class="nav-trigger">
              <span></span>

              <span></span>

              <span></span>
            </a>
          </div>
          <!-- /.header-actions -->
        </div>
        <!-- /.shell -->
      </header>
      <!-- /.header -->
      {% block content %}
      <div class="intro">
        <figure class="intro-image" data-hq="/static/css/images/temp/intro.jpg" data-lq="/css/images/temp/intro-lq.jpg"></figure>
        <!-- /.intro-image -->

        <div class="intro-content">
          <div class="shell">
            <h5 class="title title-lg">Welcome</h5>

            <h1 class="intro-title">Professional<strong>Photography</strong></h1>
            <!-- /.intro-title -->

            <div class="intro-entry">
              <p>
                Ipsum has been the industry's standard dummy text ever since the <br/>more-or-less normal distribution of letters, as opposed to using 'Content here, </p>
            </div>
            <!-- /.intro-entry -->
          </div>
          <!-- /.shell -->
        </div>
        <!-- /.intro-content -->

        <div class="intro-actions">
          <span class="mouse btn-scroll">
            <span class="mouse-dot"></span>
          </span>
        </div>
        <!-- /.intro-actions -->
      </div>
      <!-- /.intro -->

      <main class="main">
        <section class="section-primary section-welcome">
          <div class="shell extended extended-alt">
            <div class="section-inner">
              <h5 class="title title-md">Beliefs</h5>
              <!-- /.title -->

              <h2>MIt is a long established fact that a reader will be distracted by the</h2>

              <div class="section-entry">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                  'Content here, </p>
              </div>
              <!-- /.section-entry -->
            </div>
            <!-- /.section-inner -->
          </div>
          <!-- /.shell -->
        </section>
        <!-- /.section -->

        <section class="section-benefits animated animated-left">
          <div class="shell">
            <div class="section-content extended">
              <h5 class="title">Krodachrome</h5>
              <!-- /.title -->

              <div class="slider slider-benefits">
                <div class="slider-paging">
                  <div class="slider-paging-inner"></div>
                  <!-- /.slider-paging-inner -->

                  <span class="slider-paging-current"></span>
                </div>
                <!-- /.slider-paging -->

                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <h3>Quality</h3>

                      <p>rem ipsum' will uncover many web sites still in their infancy.</p>

                      <ul class="list-dashes">
                        <li>'Content here, content here', making it look like readable English. </li>

                        <li>There are many variations of passages of Lorem Ipsum available, </li>

                        <li>extremely high attention to details</li>
                      </ul>
                      <!-- /.list-dashes -->
                    </li>
                    <!-- /.slide -->

                    <li class="slide">
                      <h3>Tailor-made</h3>

                      <p>dummy text ever since the 1500s, when an unknown printer took</p>

                      <ul class="list-dashes">
                        <li>adapting to your working process</li>

                        <li>following your coding standards</li>

                        <li>project time frame, pre-defined by you</li>
                      </ul>
                      <!-- /.list-dashes -->
                    </li>
                    <!-- /.slide -->

                    <li class="slide">
                      <h3>Reliability</h3>

                      <p>Don’t trust WORDS. Trust ACTIONS.</p>

                      <ul class="list-dashes">
                        <li>dedicated team</li>

                        <li>express updates</li>

                        <li>life-time support</li>
                      </ul>
                      <!-- /.list-dashes -->
                    </li>
                    <!-- /.slide -->

                    <li class="slide">
                      <h3>Safety</h3>

                      <p>Safety FIRST. Safety ALWAYS.</p>

                      <ul class="list-dashes">
                        <li>no upfront payment</li>

                        <li>NDA</li>

                        <li>payment on total satisfaction</li>
                      </ul>
                      <!-- /.list-dashes -->
                    </li>
                    <!-- /.slide -->
                  </ul>
                  <!-- /.slides -->
                </div>
                <!-- /.slider-clip -->
              </div>
              <!-- /.slider -->
            </div>
            <!-- /.section-content -->

            <figure class="section-image">
              <img src="/css/images/temp/benefits.jpg" alt="Benefits" width="733" height="589">
            </figure>
            <!-- /.section-image -->
          </div>
          <!-- /.shell -->
        </section>
        <!-- /.section -->

        <section class="section-samples animated animated-right">
          <div class="shell">
            <div class="section-content extended extended-alt">
              <div class="section-inner">
                <h5 class="title">Portfolio</h5>
                <!-- /.title -->

                <h3>Get an idea of what we do</h3>

                <p>Nothing speaks louder about what we do than our work itself. Experience the makeover of different designs into high-class code. See how the whole process works, check out samples of our actual code, and even get an idea of the pricing.</p>
              </div>
              <!-- /.section-inner -->

              <ul class="samples">
                <li class="sample">
                  <a title="Photo Booth - PSD to HTML conversion" href="/showcase/view/photo-booth">
                    <figure class="sample-image">
                      <img src="css/images/temp/photobooth-thumb-sm.jpg" alt="Photo Booth - PSD to HTML conversion" width="417" height="243">
                    </figure>
                    <!-- /.sample-image -->

                    <div class="sample-actions">
                      <div class="sample-meta">
                        <i class="fa fa-html5"></i>
                      </div>
                      <!-- /.sample-meta -->
                    </div>
                    <!-- /.sample-actions -->
                  </a>
                </li>
                <!-- /.sample -->

                <li class="sample">
                  <a title="Train Station - WordPress integration" href="/showcase/view/train-station">
                    <figure class="sample-image">
                      <img src="/css/images/temp/sample1.jpg" alt="Train Station - WordPress integration" width="417" height="243">
                    </figure>
                    <!-- /.sample-image -->

                    <div class="sample-actions">
                      <div class="sample-meta">
                        <i class="fa fa-wordpress"></i>
                      </div>
                      <!-- /.sample-meta -->
                    </div>
                    <!-- /.sample-actions -->
                  </a>
                </li>
                <!-- /.sample -->

                <li class="sample">
                  <a title="Sweet Sensations Bakery - PSD to Email Conversion" href="/showcase/view/sweet-sensations-bakery">
                    <figure class="sample-image">
                      <img src="css/images/temp/email-showcase1-thumb.jpg" alt="Sweet Sensations Bakery - PSD to Email Conversion" width="417" height="243">
                    </figure>
                    <!-- /.sample-image -->

                    <div class="sample-actions">
                      <div class="sample-meta">
                        <i class="fa fa-envelope-o"></i>
                      </div>
                      <!-- /.sample-meta -->
                    </div>
                    <!-- /.sample-actions -->
                  </a>
                </li>
                <!-- /.sample -->

                <li class="sample">
                  <a title="" href="/showcase" class="link-more">
                    <span>View Portfolio</span>

                    <img src="/css/images/temp/sample1.jpg" alt="Unknown sample" width="417" height="243">
                  </a>
                </li>
                <!-- /.sample -->
              </ul>
              <!-- /.samples -->
            </div>
            <!-- /.section-content -->

            <figure class="section-image">
              <img src="/css/images/temp/samples.jpg" alt="Samples" width="740" height="893">
            </figure>
            <!-- /.section-image -->
          </div>
          <!-- /.shell -->
        </section>
        <!-- /.section -->

        <section class="section-services">
          <header class="section-head">
            <div class="shell">
              <h5 class="title title-md">Services</h5>
              <!-- /.title title-md -->

              <h2>BADASSARY</h2>

              <div class="section-entry">
                <p>versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
              </div>
              <!-- /.section-entry -->
            </div>
            <!-- /.shell -->
          </header>
          <!-- /.section-head -->

          <div class="section-body">
            <div class="shell">
              <ul class="services">
                <li class="service animated animated-left">
                  <div class="service-inner extended">
                    <h3>MODELING<small>Development</small></h3>

                    <p>It is a long established fact that a reader will b &amp; "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <ul class="list-dashes list-dashes-alt">
                      <li>Modeling Portfolios</li>

                      <li>Fashion</li>

                      <li>Weddings</li>
                    </ul>
                    <!-- /.list-dashes -->

                    <div class="service-actions">
                      <a title="Consulting services" href="/front-end-development" class="btn btn-default btn-alt">
                        <span class="btn-inner">
										View All Features
									</span>
                      </a>
                    </div>
                    <!-- /.service-actions -->
                  </div>
                  <!-- /.service-inner -->
                </li>
                <!-- /.service -->

                <li class="service service-alt animated animated-left">
                  <div class="service-inner">
                    <h3>
								WordPress
								<small>Development</small>
							</h3>

                    <p>Get a perfectly coded &amp; easily manageable responsive WordPress website or plugin, fully customized to your specific needs.</p>

                    <ul class="list-dashes list-dashes-alt">
                      <li>Coding Standards</li>

                      <li>Intuitive Content Management</li>

                      <li>Secure and Reliable Sites</li>
                    </ul>
                    <!-- /.list-dashes -->

                    <div class="service-actions">
                      <a title="Wordpress development" href="/wordpress-development" class="btn btn-default">View All Features</a>
                    </div>
                    <!-- /.service-actions -->
                  </div>
                  <!-- /.service-inner -->
                </li>
                <!-- /.service -->

                <li class="service animated animated-right">
                  <div class="service-inner">
                    <h3>
								HTML Email
								<small>Development</small>
							</h3>

                    <p>Get your email template designs turned into classy and responsive HTML code, compatible with over 40 email clients. </p>

                    <ul class="list-dashes list-dashes-alt">
                      <li>All browsers/Device compatibility</li>

                      <li>100% hand-coded html5 tags</li>

                      <li>Well-structured markup</li>
                    </ul>
                    <!-- /.list-dashes -->

                    <div class="service-actions">
                      <a title="HTML Email development" href="/email-development" class="btn btn-default btn-alt btn-alt-sec">
                        <span class="btn-inner">View All Features</span>
                      </a>
                    </div>
                    <!-- /.service-actions -->
                  </div>
                  <!-- /.service-inner -->
                </li>
                <!-- /.service -->
              </ul>
              <!-- /.services -->
            </div>
            <!-- /.shell -->
          </div>
          <!-- /.section-body -->
        </section>
        <!-- /.section -->

        <section class="section-testimonials">
          <div class="shell">
            <header class="section-head">
              <h5 class="title">Happy Clients</h5>
              <!-- /.title -->
            </header>
            <!-- /.section-head -->

            <div class="section-body">
              <div class="slider slider-testimonials">
                <div class="slider-clip">
                  <ul class="slides">
                    <li class="slide">
                      <div class="testimonial">
                        <div class="testimonial-content">
                          <h3>Dave Waite, <a target="_blank" class="link-public" href="http://zookeeper.com">Zookeeper.com</a></h3>

                          <blockquote>
                            <p>We’ve had the ultimate good fortune of working with Alex and his team since 2010, building dozens upon dozens of sites. They deliver exactly when they say they will and it’s always pixel-perfect. And if anything is off, it’s
                              usually updated within 24 hours, often in less time than that. They are truly magicians. They’ve saved our bacon more times than we can count and always make us shine. I’ve traveled to visit them in Varna and you will find
                              them to be a great group, serious about what they do, friendly and eager for your business to succeed.</p>

                            <p>If you’re looking for world-class developers and programmers, look no further. You’ve found the absolute best.</p>
                          </blockquote>
                        </div>
                        <!-- /.testimonial-content -->

                        <figure class="testimonial-image">
                          <img src="/css/images/temp/testimonial.jpg" alt="Dave Waite" width="831" height="589">
                        </figure>
                        <!-- /.testimonial-image -->
                      </div>
                      <!-- /.testimonial -->
                    </li>
                    <!-- /.slide -->

                    <li class="slide">
                      <div class="testimonial">
                        <div class="testimonial-content">
                          <h3>Justin Scheetz, <a target="_blank" class="link-public" href="https://boxystudio.com/">Boxy Studio</a></h3>

                          <blockquote>
                            <p>HTML Boutique has been an integral part of running my WordPress theme and plugin business. Without them doing such great work, I would not be able to bring my ideas and products to life or as close to how I had originally envisioned
                              them. I have not used another group of developers that just "gets it" as much as they do. Don't bother going anywhere else, I've used several other providers over the past few years and have always come back to HTML Boutique—every
                              time. Usually to fix the mistakes the "other guys" made. They're just THAT good.</p>
                          </blockquote>
                        </div>
                        <!-- /.testimonial-content -->

                        <figure class="testimonial-image">
                          <img src="/css/images/temp/testimonial2.jpg" alt="Justin Scheetz" width="831" height="589">
                        </figure>
                        <!-- /.testimonial-image -->
                      </div>
                      <!-- /.testimonial -->
                    </li>
                    <!-- /.slide -->
                  </ul>
                  <!-- /.slides -->
                </div>
                <!-- /.slider-clip -->

                <div class="slider-paging"></div>
                <!-- /.slider-paging -->
              </div>
              <!-- /.slider -->
            </div>
            <!-- /.section-body -->
          </div>
          <!-- /.shell -->
        </section>
        <!-- /.section -->

        <section class="section-callout">
          <figure class="section-image">
            <img src="/css/images/temp/callout.jpg" alt="Our web" width="1663" height="395">
          </figure>
          <!-- /.section-image -->

          <div class="section-content">
            <div class="shell">
              <h3>
					<small>This Is Our Web</small>

					Let’s shape it together!
				</h3>

              <div class="section-actions">
                <a title="Request Pricing" href="/request-pricing" class="btn btn-default btn-default-alt">Get a Quote</a>
              </div>
              <!-- /.section-actions -->
            </div>
            <!-- /.shell -->
          </div>
          <!-- /.section-content -->
        </section>
        <!-- /.section -->
      </main>
      <!-- /.main -->

      <footer class="footer">
        <div class="shell">
          <p class="copyrights">&copy; htmlBoutique 2008-2017. All Rights Reserved</p>
          <!-- /.copyrights -->

          <div class="socials">
            <ul>
              <li>
                <a href="https://fb.me/htmlbtq" class="link-public" target="_blank" rel="nofollow">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>

              <li>
                <a href="https://twitter.com/htmlBoutique" class="link-public" target="_blank" rel="nofollow">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="https://plus.google.com/+htmlBoutique" class="link-public" target="_blank" rel="nofollow">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>

              <li>
                <a href="https://www.linkedin.com/company/htmlboutique" class="link-public" target="_blank" rel="nofollow">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <!-- /.socials -->
        </div>
        <!-- /.shell -->
      </footer>
      <!-- /.footer -->
    </div>
    <!-- /.container -->


    <div class="sidebar">
      <div class="sidebar-inner">
        <div class="sidebar-actions">
          <a href="#" class="link-close">
            <i class="ico-close"></i>
          </a>
        </div>
        <!-- /.sidebar-actions -->

        <ul class="widgets">
          <li class="widget widget-nav">
            <nav class="nav">
              <ul>
                <li>
                  <a title="Home" href="/">Home</a>
                </li>


                <li>
                  <a title="Services" href="/services">
								Services							</a>

                  <ul>

                    <li>
                      <a title="Front-End Development" href="/front-end-development">
											Front-End Development										</a>
                    </li>


                    <li>
                      <a title="WordPress Development" href="/wordpress-development">
											WordPress Development										</a>
                    </li>


                    <li>
                      <a title="Email Development" href="/email-development">
											Email Development										</a>
                    </li>

                  </ul>
                </li>


                <li>
                  <a title="Showcase" href="/showcase">
								Showcase							</a>

                </li>


                <li>
                  <a title="About" href="/about">
								About							</a>

                </li>


                <li>
                  <a title="Team" href="/team">
								Team							</a>

                </li>


                <li>
                  <a title="FAQ" href="/faq">
								FAQ							</a>

                </li>


                <li>
                  <a title="Blog" href="/blog">
								Blog							</a>

                </li>


                <li>
                  <a title="Contact" href="/contact">
								Contact							</a>

                </li>


                <li>
                  <a title="Login" href="/login">
								Login							</a>

                </li>


                <li>
                  <a title="Get a Quote" href="/request-pricing" class="link-alt">
								Get a Quote							</a>

                </li>

              </ul>
            </nav>
            <!-- /.nav -->
          </li>
          <!-- /.widget widget-nav -->

          <li class="widget widget-contact">
            <ul>
              <li>
                <a title="USA: +1 844 808 8962" class="link-public" href="tel:+8327979941"><strong>USA</strong> +832 797 9941</a>
              </li>

              <li>
                <a title="UK: +44 203 637 6414" class="link-public" href="tel:+442036376414"><strong>UK</strong> +44 203 637 6414</a>
              </li>
            </ul>
          </li>
          <!-- /.widget widget-contact -->

          <li class="widget widget-subscribe">
            <div class="subscribe">
              <label for="mce-EMAIL">Newsletter</label>

              <p>Subscribe to our mailing list.</p>

              <!-- Begin MailChimp Signup Form -->
              <div id="mc_embed_signup">
                <form action="//htmlboutique.us11.list-manage.com/subscribe/post?u=db91be141efc61143a2bbc566&amp;id=887903688d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="MERGE0" class="subscribe-field email" id="mce-EMAIL" placeholder="your@email.com" required />

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

                    <div style="position: absolute; left: -5000px;">
                      <label for="subscribe_field" class="hidden">Subscribe</label>
                      <input type="text" name="b_db91be141efc61143a2bbc566_443bec35e3" id="subscribe_field" tabindex="-1" value="">
                    </div>

                    <input type="hidden" name="u" value="db91be141efc61143a2bbc566">
                    <input type="hidden" name="id" value="443bec35e3">
                    <button type="submit" class="subscribe-btn button" name="submit" title="Subscribe">
									<i class="fa fa-send-o"></i>
								</button>
                  </div>
                </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
            <!-- /.subscribe -->
          </li>
          <!-- /.widget widget-subscribe -->

          <li class="widget widget-socials">
            <div class="socials">
              <span class="socials-label">we are social</span>

              <ul>
                <li>
                  <a href="https://fb.me/htmlbtq" class="link-public" target="_blank" rel="nofollow">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>

                <li>
                  <a href="https://twitter.com/htmlBoutique" class="link-public" target="_blank" rel="nofollow">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>

                <li>
                  <a href="https://plus.google.com/+htmlBoutique" class="link-public" target="_blank" rel="nofollow">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>

                <li>
                  <a href="https://www.linkedin.com/company/htmlboutique" class="link-public" target="_blank" rel="nofollow">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.socials -->
          </li>
          <!-- /.widget widget-socials -->

          <li class="widget widget-nav-utilities">
            <nav class="nav-utilities">
              <ul>

                <li>
                  <a href="/privacy-policy">
								Privacy Policy							</a>
                </li>


                <li>
                  <a href="/terms-and-conditions">
								Terms and Conditions							</a>
                </li>

              </ul>
            </nav>
            <!-- /.nav -->
          </li>
          <!-- /.widget widget-nav-utilities -->
        </ul>
        <!-- /.widgets -->
      </div>
      <!-- /.sidebar-inner -->
    </div>
    <!-- /.sidebar -->
  </div>
  <!-- /.wrapper -->

{% endblock %}

  <script type="text/javascript" async>
    WebFontConfig = {
      google: {
        families: ['Roboto+Slab:400,100,300,700:latin', 'Roboto+Mono:400,400italic,100,100italic,300,300italic,500,500italic,700,700italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <script src="/js/htmlboutique.min.js" rel="stylesheet" media="screen" type="text/javascript"></script>

  <script type="text/javascript">
    window.NREUM || (NREUM = {});
    NREUM.info = {
      "beacon": "bam.nr-data.net",
      "licenseKey": "95344c2266",
      "applicationID": "9159338",
      "transactionName": "YFIDYxBYXBFWBhENWVkYNEULFlsMUwAdSkZfRw==",
      "queueTime": 0,
      "applicationTime": 0,
      "atts": "TBUAFVhCTx8=",
      "errorBeacon": "bam.nr-data.net",
      "agent": ""
    }
  </script>
</body>

</html>
