.limiter {
  background-color: black;
}

.limiter > div {
  margin: 0 auto;
  max-width: 1280px;
}

.img{
  padding-top: 60px;
}

.row2 {
  background-color: rgba(0, 0, 0, .9);
}

.row2 > div:nth-child(2) {
  text-align: center;
}

.row5{
  background-color: rgba(127, 138, 137, .9);

}
.row6{
  background-color: rgba(0, 0, 0, .9);
}
.row7{
    background-color: rgba(127, 138, 137, .9);

}
.carousel{
  margin:0;
}

.taylor{
  padding-top: 60px;
}
.filler{
  padding: 100px 50px 90px 0;
}
.filler2{
  padding-top: 60px;
}
.featurette-heading p.lead {
  padding-left: 85px;
}

.extrapad {
  padding: 50px;
}

.extrapad h2 {
  padding-bottom: 30px;
  font-size: 50px;
}


.socials-bottom {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    text-transform: uppercase;
    display: block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    color: #c7ae7a;
}

.socials-bottom ul {
  text-align: center;
}

.socials-bottom li {
  display: inline-block;
  padding: 20px;
  color: white;
}

ul .nav .navbr-nav{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  color: grey;
}
#mcol1{
  color: #fff;
  padding-bottom: 60px;
  padding: 0 60px 0 60px;
  font-weight: 300;
  line-height: 1.4;
  font-size: 20px;
  text-align: center;
  margin-bottom: 70px;
}

.text-primary {
    color: #c7ae7a !important;
  }
  .shooting{
    font-weight: normal;
    color: white;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    margin-top: 90px;
    padding-bottom: 45px;
    color: white;
    text-align: center;
  }
