.img{
  padding-top: 60px;
}

.row2 {
  background-color: rgba(0, 0, 0, .9);
}
.row5{
  background-color: rgba(127, 138, 137, .9);

}
.row6{
  background-color: rgba(0, 0, 0, .9);
}
.row7{
    background-color: rgba(127, 138, 137, .9);

}
.carousel{
  margin:0;
}

.taylor{
  padding-top: 60px;
}
.filler{
  padding-top: 60px;
}
.filler2{
  padding-top: 60px;
}
.featurette-heading > div{
  padding-left: 45px;
}
