@media (max-width: 992px){
  .col-md-7 {
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 992px){
  .lead{
    padding-bottom: 60px;
  }
}

@media (max-width: 992px){
  .filler{
      padding: 20px 0 100px 0;
  }
}
@media (max-width: 1200px){
  .filler{
    padding-top: 45px;
  }
}
@media (max-width: 1200px){
  .filler2{
      padding: 60px 0;
      margin-left: 485px;
  }
}
@media (max-width: 992px){
  .filler2{
      padding: 90px 0 60px 0;
      margin-left: 380px;
  }
}

@media (max-width: 1200px) {
  .carousel .item:first-child {
    background-position-y: -22px;
  }
  .carousel .item:nth-child(3) {

  }
  .carousel .item:nth-child(4) {
    background-position-y: -60px;
  }
  .carousel .item:nth-child(5) {
    background-position-y: -104px;
  }

  .carousel .item:nth-child(2) {
  }

  .carousel .item:last-child {
    background-position-y: -365px;
  }
}

@media (max-width: 992px) {
  .carousel .item:first-child {
    background-position-y: -22px;
  }
  .carousel .item:nth-child(3) {
    background-position-y: -140px;
  }
  .carousel .item:nth-child(4) {
    background-position-y: -60px;
  }
  .carousel .item:nth-child(5) {
    background-position-y: -104px;
  }

  .carousel .item:nth-child(2) {
    background-position-y: -16px;
  }

  .carousel .item:last-child {
    background-position-y: -225px;
  }
}

@media (max-width: 600px) {
  .carousel .item:first-child {

  }
  .carousel .item:nth-child(3) {
    background-position-y: -3px;
  }
  .carousel .item:nth-child(4) {
    background-position-y: 51px;
  }
  .carousel .item:nth-child(5) {
    background-position-y: 51px;
  }

  .carousel .item:nth-child(2) {

  }

  .carousel .item:last-child {
    background-position-y: -37px;
  }
}

@media (max-width: 550px) {
  .carousel .item:first-child {
    background-position: center;
  }
  .carousel .item:nth-child(3) {
    background-position-y: 50px;
  }
  .carousel .item:nth-child(4) {
    background-position-y: 51px;
    background-position-x: -140px;
  }
  .carousel .item:nth-child(5) {
    background-position-y: 51px;
  }

  .carousel .item:nth-child(2) {
      background-position-y: 51px;
      background-position-x: 10px;
  }

  .carousel .item:last-child {
    background-position-y: -37px;
  }
}
